.wrapper {
	display: block;
	height: 70rem;
}

.wrapper ul {
	margin: 0;
	padding: 0;
	height: 100%;
}

.slide {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
}

.nav {
	padding: 2rem;
	width: 2rem;
	height: 2rem;
	border: 1px solid #fff;
	border-radius: 50%;
}

.caption {
	color: #fff;
	width: 40%;
	left: 45%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 1.5;
}

.caption h1 {
	font-size: 6rem;
}

.prev,
.next {
	top: 50%;
}

.prev {
	left: 4rem;
}
.next {
	right: 4rem;
}

.button {
	margin-top: 3rem;
}

@media all and (max-width: 800px) {
	.wrapper {
		display: block;
		height: 50rem;
	}

	.caption h1 {
		font-size: 4rem;
	}

	.button {
		margin-bottom: 10rem;
	}
}

@media all and (max-width: 530px) {
	.slide {
		background-position: center top;
	}

	.wrapper {
		display: block;
		height: 50rem;
	}

	.caption {
		width: 80%;
		left: 10%;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}

	.caption h1 {
		font-size: 3rem;
		text-shadow: 0 0 10px #fff;
	}

	.button {
		margin-top: 0;
	}
}
